<div class="form myForm" [ngClass]="formStatus" >
  <h2 id="registration">Registration Form</h2>
  <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">

    <div formGroupName="personalDetails">
      <label for="fname">First Name</label>
      <input type="text" id="fname" formControlName='firstname' placeholder="Your first name..."/>
      <div>
        <small *ngIf="reactiveForm.get('personalDetails.firstname').touched && reactiveForm.get('personalDetails.firstname').errors?.['required']">First name is a required field.</small>
        <small *ngIf="reactiveForm.get('personalDetails.firstname').errors?.['noSpaceAllowed']">First name can not contain a space.</small>
      </div>
      <label for="lname">Last Name</label>
      <input type="text" id="lname" formControlName='lastname' placeholder="Your last name..."/>
      <div>
        <small *ngIf="reactiveForm.get('personalDetails.lastname').touched && reactiveForm.get('personalDetails.lastname').errors?.['required']">Last name is a required field.</small>
        <small *ngIf="reactiveForm.get('personalDetails.lastname').errors?.['noSpaceAllowed']">Last name can not contain a space.</small>
      </div>
      <label for="email">Email</label>
      <input type="email" id="email" formControlName='email' placeholder="Your email..."/>
      <div>
        <span *ngIf="reactiveForm.get('personalDetails.email').invalid && reactiveForm.get('personalDetails.email').touched" style="color:red">The email you entered is not a valid email.</span>
      </div>
    </div>
    
    <label for="country">Country</label>
    <select id="country" formControlName='country'>
      <option value="australia">Australia</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
      <option value="india">India</option>
    </select>
    <label for="gender">Gender:</label>
    <span>
      <input type="radio" id="male" formControlName='gender' value="male"/>
      <label for="male">Male</label>
      <input type="radio" id="female" formControlName='gender' value="female"/>
      <label for="female">Female</label>
      <input type="radio" id="other" formControlName='gender' value="other"/>
      <label for="other">Other</label>
    </span>
    
    <br><br>
    <label>Hobbies <i>(Optional)</i></label>
    <div class="form-inline">

     <label><input type="checkbox" formControlName='hobbies' value="sports" checked>Sports</label>
      <label><input type="checkbox" formControlName='hobbies' value="movies">Movies</label>
      <label><input type="checkbox" formControlName='hobbies' value="music" checked>Music</label>
    </div>

    <div formArrayName="skills">
      <ng-container *ngFor="let skill of reactiveForm.get('skills')['controls'];index as i">
        <input type="text" placeholder="Add skill..." formControlName="{{i}}"/>
      </ng-container>
      <button (click)="addSkills()">+ Add skills</button>
      <button (click)="removeSkills()">- remove skills</button>
      
    </div>

    <input type="submit" value="Submit" id="btn"/>
    
  </form>
</div>